* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.about-image{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.about-image img{
    width: 400px;
    max-width: none;
    height: 500px;
    display: inline-block;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    transform: translateX(250px);
}